* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding-top: 80px; 
}
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); 
    object-fit: cover; 
    z-index: -1; 
}
.header h1{
    margin-top: 60px;
    font-size: 40px;
    font-weight: 700;
    color: rgb(39, 3, 71)
}
nav {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 10px 6%; 
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;  
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px); 
    z-index: 1000;
}
nav img {
    width: 50px;
    border-radius: 10px;
}
nav img:hover{
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); 
        transform: scale(1.05); 
}
.nav-links {
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a {
    color:rgb(65, 11, 71);
    text-shadow: 2px 3px 5px rgb(74, 13, 13);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e12433;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    transform: scale(1.05); 
}

/*blog page content*/
.blog-content {
    width: 100%;
    margin: auto;
    padding: 60px 0;
    background: linear-gradient(to right, #fef9f6, #fdc184);
}

.row {
    display: flex;
    flex-direction: column; 
}
.image-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}
.blog-left img {
    width: 40%;   
    border-radius: 10px;
    transition: 0.5s ease;
}
.blog-left img:hover{
    transform: translateY(-12px);
    box-shadow: 2px 4px  black;
}
.blog-right {
    flex-basis: 35%;
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: fit-content;
}

.blog-right h3 {
    background: #f44336;
    color: rgb(39, 3, 71);
    padding: 7px;
    margin-bottom: 15px;
    text-align: center;
}

.blog-right div {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid #eee;
    color: rgb(39, 3, 71)
}

.blog-left h2 {
    font-weight: 600;
    margin: 30px 0 10px;
    margin-left: 10px;
    text-align: center;
    color: rgb(39, 3, 71)
}

.blog-left p {
    width: 80%;
    margin-bottom: 15px;
    text-align:justify;
    margin-left: 10%;
    color: rgb(39, 3, 71)
}
.comment-box {
    border: 1px solid #fcc58d;
    margin: 40px 0;
    padding: 25px;
    width: 50%;
    margin-left: 25%;
    border-radius: 1px;
    background: linear-gradient(to right, #fef9f6, #fdc184);
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.comment-box h3 {
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: rgb(39, 3, 71)
}

.comment-form input,
.comment-form textarea {
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 1px;
    outline: none;
    font-size: 15px;
    background: #fcd2a9;
    transition: all 0.3s ease;
}
.comment-form textarea {
    resize: none;
    height: 120px;
    margin-bottom: 1%; 
}

.comment-form button {
    display: inline-block;
    background: #f44336;
    color: #fff;
    padding: 12px 25px;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}
.comment-form button:hover {
    background: #d32f2f;
}
/*Footer*/
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: linear-gradient(to right, #fef9f6, #fdc184);
}
.footer h3 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: #041870;
}
.footer p{
    color: rgb(39, 3, 71)
}
.icons .fa{
    color:#e15c50 ;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}